<h1> <%= @gym.name %> </h1>
<p> Number of UFC Champions: <%= @gym.number_of_champions %> </p>
<p> Holds Current UFC Champion: <%= @gym.holds_current_champion %> </p>

<h4> <%= link_to "Click Here", root_path %> to return to the welcome page. </4>
<h4> <%= link_to "Click Here", gyms_path %> to return to the gyms page. </4>